<ion-header>

  <ion-toolbar color="primary">
    
    <ion-menu side="start" menuId="first" contentId="menuContent">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content id="menuContent">
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
     
    <ion-title class="app-brand">
      Smart Note
    </ion-title>

    
    
  </ion-toolbar>

</ion-header>



<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
